:root{
    --global-font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    --global-button_color_pink-background-color:#E53167;
    --global-button_color-color:#FFFFFF;
    --global-border_color-border-color:#AFBED3;
    --global-blue_color-color:#3480e3;

}

html{
	padding: 0px;
	margin: 0px;
}

body{
  font-family: var(--global-font-family);
}

.row-me{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#blogs{
	padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  overflow-wrap: break-word;
}

.wrapper{
	background-image: url(../media/images_events/events.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.inner-wrapper{
  padding-top: 2%;
  margin-right: 5%;
  margin-left: 5%; 
}

#margin{
  margin-top: 8%;
  margin-bottom: 8%;
}


#button1{
    border-radius: 20px;
    background-color: var(--global-button_color_pink-background-color);
    color: var(--global-button_color-color);
    text-align: center;
    width:wrap-content;
    padding:5px 25px;	
}
#button2{
    border-radius: 20px;
    background-color: #FFFFFF;
    color: grey;
    text-align: center;
    width:wrap-content;
    padding:5px 20px;	
}

#button3{
    border-radius: 20px;
    background-color: white;
    color: var(--global-button_color_pink-background-color);
    text-align: center;
    width:wrap-content;
    padding:5px 20px; 
    box-shadow: 0 0 3px 1px var(--global-button_color_pink-background-color);
   
}

#cclogoright{
color:var(--global-blue_color-color);  
opacity:82%;
font-size: 28px;
letter-spacing: 0.07em; 
}


.heading{
  color: var( --global-blue_color-color);
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.07em;
  margin-top: 3%;
  text-align: center;
}


#navbar-content{
  justify-content: flex-end;
  margin-top: 0!important;
}

#nav-item{
  padding-left: 20px;
  padding-right: 20px;
  font-size:17px;
  font-weight: 10px;
}

#lowerlink{
  color:black;
  font-weight: bold;
  text-decoration: underline;
}


#space{
  padding-top: 50px;
}

#font18{
    font-size: 18px;
}

#font20{
    font-size: 20px;
}

.image1{
  border-radius: 25px;
  width: 100%;
}


@media(max-width: 430px)
{
    #clublogo{
      width:23%;
  }

  .navbar{
      padding: 0px!important;
    }

    #nav-pos{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }

     #cclogoright{
      letter-spacing: 0px!important;
    }
}





