:root {
  --global-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --global-button_color_pink-background-color: #e53167;
  --global-button_color-color: #ffffff;
  --global-border_color-border-color: #afbed3;
  --global-blue_color-color: #3480e3;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: var(--global-font-family);
}
footer {
  background-color: var(--global-blue_color-color);
  color: white;
  text-align: center;
  font-weight: lighter;
  padding: 0.2%;
  font-size: small;
}

.row-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-sm-auto {
  margin: 20px;
}

.wrapper {
  overflow: hidden;
  background-image: url(../media/images_events/events.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-wrapper {
  padding-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

/*navbar*/

#navbar-content {
  justify-content: flex-end;
}

.nav-item {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 17px;
  font-weight: 10px;
}

#cclogoright {
  color: var(--global-blue_color-color);
  opacity: 82%;
  font-size: 28px;
  letter-spacing: 0.07em;
}

/*nav*/

/*button*/

button {
  border-width: 0px;
}

#button1 {
  border-radius: 20px;
  background-color: var(--global-button_color_pink-background-color);
  color: var(--global-button_color-color);
  text-align: center;
  width: wrap-content;
  padding: 6px 18px;
}
#button2 {
  border-radius: 20px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  width: wrap-content;
  padding: 6px 3px;
}

#button3 {
  border-radius: 20px;
  background-color: white;
  color: var(--global-button_color_pink-background-color);
  text-align: center;
  width: wrap-content;
  padding: 5px 20px;
  box-shadow: 0 0 3px 1px var(--global-button_color_pink-background-color);
}
/*button end*/

.box {
  box-shadow: 0 0 10px 0.2px #3480e3;
  border-radius: 25px;
  height: 100%;
}

#nav-pos {
  top: 0px;
  left: 0px;
}

.table-bordered {
  border: 0px;
  margin: auto;
}

.table-bordered td {
  border: 2px solid grey;
  padding-left: 35px;
}

.activeyear {
  border-top: 0px;
  color: grey;
}

#one {
  font-size: 30px;
  padding-bottom: 30px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
#two {
  padding-top: 10px;
  border-right: 0px;
  text-align: right;
}

#year {
  padding-left: 150px;
  padding-bottom: 30px;
  padding-top: 50px;
}

.card {
  border-width: 0px;

  margin: auto;
}

.card-dim {
  max-width: 18em;
}

.card-subtitle {
  margin-top: 26px;
  margin-bottom: 20px !important;
}

#font18 {
  font-size: 18px;
}

#space {
  padding-top: 50px;
  padding-bottom: 50px;
}

#lowerlink {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .image1 {
    width: 100%;
    height: 100%;
    padding-top: 30px;
  }

  #year {
    padding-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
  }

  #eventsyear {
    margin-top: 30px;
  }
}

@media (max-width: 435px) {
  .inner-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}
