:root {
  --global-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --global-button_color_pink-background-color: #e53167;
  --global-button_color-color: #ffffff;
  --global-border_color-border-color: #afbed3;
  --global-blue_color-color: #3480e3;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: var(--global-font-family);
}
footer {
  background-color: var(--global-blue_color-color);
  color: white;
  text-align: center;
  font-weight: lighter;
  padding: 0.2%;
  font-size: small;
}
button {
  border-width: 0px;
}
.col-md-auto {
  margin: 3%;
}

.wrapper {
  overflow: hidden;
  background-image: url(../media/images_projects/project.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-wrapper {
  padding-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

/*navbar*/

#navbar-content {
  justify-content: flex-end;
}

.nav-item {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 17px;
  font-weight: 10px;
}

#cclogoright {
  color: var(--global-blue_color-color);
  opacity: 82%;
  font-size: 28px;
  letter-spacing: 0.07em;
}

/*nav*/

/*button*/

button {
  border-width: 0px;
}

#button1 {
  border-radius: 20px;
  background-color: var(--global-button_color_pink-background-color);
  color: var(--global-button_color-color);
  text-align: center;
  width: wrap-content;
  padding: 6px 18px;
}
#button2 {
  border-radius: 20px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  width: wrap-content;
  padding: 6px 3px;
}

/*button end*/

@media (max-width: 380px) {
  .col {
    height: 100%;
  }
}

@media (max-width: 430px) {
  #blogs {
    margin-top: 40px !important;
  }

  #first_blog {
    border-bottom: solid;
    border-color: var(--global-border_color-border-color);
    border-right: hidden;
  }

  #second_blog {
    border-top: solid;
    border-color: var(--global-border_color-border-color);
    border-left: hidden;
  }
}

#image {
  width: 100%;
  height: 100%;
}

#blogs {
  margin-top: 90px;
  margin-bottom: 90px;
}

#discription {
  margin-top: 5%;
  margin-bottom: 5%;
}

#info {
  margin-top: 20px;
}

#activenavtab {
  border-radius: 20px;
  background-color: #e53167;
  color: #ffffff;
  text-align: center;
}

#nav-pos {
  top: 0px;
  left: 0px;
}
#font18 {
  font-size: 18px;
}

.row-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#Project {
  margin: 2%;
}

.box {
  box-shadow: 0 0 10px 0.2px #3480e3;
  border-radius: 25px;
  max-width: 80%;
  height: 100%;
}

.card {
  border: 0px;
}

@media (min-width: 1440px) {
  #blogs {
    margin-top: 30px !important;
  }
}

@media (max-width: 435px) {
  .inner-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}
